 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
/* variables */

$dblue: RGBA(8, 52, 82, 1);
$lblue: RGBA(24, 112, 180, 1);
$parag: RGBA(96, 106, 113, 1);
$links: RGBA(157, 174, 187, 1);
$font1: 'Oswald', sans-serif;
$font2: 'Open Sans', sans-serif;



.SandP {
  width: 1300px;
  border-bottom: 1px solid #b5b0b0;
  height: 1430px;
}

.post-date li a {
  text-decoration: underline;
  color: $links;
}

li {
  list-style: none;
  margin: 0;
}


header {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg");
  height: 500px;
  width: 1300px;
  overflow: hidden;
  margin: 0 auto;
}

.top {
  max-width: 1000px;
  margin-left: 100px;
  overflow: hidden;
}

.top h1 {
  font-family: $font1;
  text-transform: uppercase;
  font-size: 7em;
  line-height: 1.3em;
  color: white;
  margin-bottom: 2px;
  margin-top: 0px;
  padding-top: 100px;
}

.inside {
  overflow: auto;
  vertical-align: middle;
  margin-top: 0px;
  font-size: 15px;
  padding-left: 0px;
  padding: 0px;

}

.wave {
  float: left;

.wave img {
  vertical-align:middle;
}
}

.links {
  float: right;
  overflow: auto;
  vertical-align: middle;
  margin-top: 5px;
}

.naviglinks {
  padding-top: 1px;
  float: right;
  font-family: $font2;
}


header h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  margin-top: 100px;
  font-family: $font1;
  margin-bottom: 2px;
}

header p {
  text-align: center;
  font-size: 1.1em;
}

li{
  list-style: none;
}


/* Body of Page */

.midcontent {
  overflow: auto;
  height: 1080px;
}

/////////////////////////
.post {
  width: 784px;
  height: 882px;
  float: left;
}

.site-author {
  margin-bottom: 32px;
}

.post h1 {
  color: HSLA(204, 82%, 18%, 1);
  margin-top: 47px;
  font-family: "Oswald", sans-serif;
  font-size: 57px;
  margin-left: 164px;
  margin-bottom: -11px;
}

.post section {
    margin-left: 162px;
    font-family: "Oswald", sans-serif;
    color: HSLA(205, 8%, 40%, 1);
}

.post blockquote {
  color: HSLA(206, 84%, 38%, 1);
  font-family: "Oswald", sans-serif;
  margin-left: 185px;
  font-size: 22px;
}

.post .name {
  font-family: "Oswald", sans-serif;
  color: HSLA(206, 84%, 38%, 1);
  font-size: 13px;
  }

.post .on {
  font-family: "Oswald", sans-serif;
  color: HSLA(206, 18%, 69%, 1);
  font-size: 14px;
  }

.post .date {
  font-family: "Oswald", sans-serif;
  color: HSLA(206, 18%, 69%, 1);
  text-decoration: underline;
  font-size: 14px;
  }

.post img {
  height: 15px;
  margin-left: 164px;
  }


//////////////////////////////////////////



.rightcolumn {
  float: right;
  display: block;
  width: 275px;
  height: 882px;
  margin-right: 160px; }
  .rightcolumn .surferright {
    height: 330px;
    width: 275px;
    float: left;
    margin-top: 50px; }
  .rightcolumn .date {
    font-family: "Oswald", sans-serif;
    color: HSLA(206, 18%, 69%, 1);
    text-decoration: underline;
    font-size: 12px;
    float: right; }
  .rightcolumn .sidebarheading {
    float: left;
    color: HSLA(206, 84%, 38%, 1);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-top: 30px; }
  .rightcolumn .sidebartext {
    margin-top: 10px;
    color: HSLA(206, 18%, 69%, 1);
    font-size: 14px;
    font-weight: thin;
    font-family: "Oswald", sans-serif;
    clear: both;
    display: block; }

.rightimg {
  margin-left: 92px;
  margin-top: 70px;
  height: 85px;
  width: 85px; }

.socialmedia {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: HSLA(206, 18%, 69%, 1); }

.rightname {
  text-align: center;
  color: HSLA(206, 84%, 38%, 1);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  /*margin-top:15px;*/ }






/* Most Popular Posts */

section {
  width: 1300px;
  clear: both;
  border-top: $links solid 1px;
  padding-top: 50px;
  margin-top: 20px;
  overflow: hidden;

section h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 58px;}

}

section li {
  display: inline-block;
  float: left;
  height: 330px;
  width: 25%;
}

section div {
  background-color: HSLA(209, 100%, 33%, .6);
  width: 100%;
  height: 100%;

  section div:hover {
    opacity: 1;
  }
  section div:hover a {
    color: white;
  }
}

section a {
  color: $dblue;
  font-family: $font1;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
  position: absolute;
}


.article1 {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-1.jpg");
}

.article2 {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-2.jpg");
}

.article3 {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-3.jpg");
}

.article4 {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-4.jpg");
}


/* Footer */

.footer {
  width: 1300px;
  margin-top: 0px;
  background-color: $dblue;
  float: left;
  display: block;


.leftfoot {
  float: left;
  width: 370px;
  height: 55px;
  margin-top: 25px;
  margin-left: 165px;
  font-family: $font2;
  font-size: 13px;
  color: $links;
}

.rightfoot {
  float: right;
  display: block;
  color: $links;
  font-family: $links;
  font-size: 15px;
  padding: 0px;
  margin-top: 30px;
  margin-right: 130px;
}

.bottomnav li {
  list-style: none;
  padding: 4px;
  margin: 4px;
  float: left;
  border-right-style: solid;
}
