
/* variables */

$dblue: RGBA(8, 52, 82, 1);
$lblue: RGBA(24, 112, 180, 1);
$parag: RGBA(96, 106, 113, 1);
$links: RGBA(157, 174, 187, 1);
$font1: 'Oswald', sans-serif;
$font2: 'Open Sans', sans-serif;



.SandP {
  width: 1300px;
}

.post-date li a {
  text-decoration: underline;
  color: $links;
}

li {
  list-style: none;
  margin: 0;
}

p {
    color: $parag;
    line-height: 1.6em;
    padding: 0px;
    margin: 0px;

    p a {
      text-decoration: underline;
      color: $links;
    }

    p a:hover {
      color: $links;
    }

}

header {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg");
  height: 500px;
  width: 1300px;
  overflow: hidden;
  margin: 0 auto;
}

.top {
  max-width: 1000px;
  margin-left: 100px;
  overflow: hidden;
}

.top h1 {
  font-family: $font1;
  text-transform: uppercase;
  font-size: 7em;
  line-height: 1.3em;
  color: white;
  margin-bottom: 2px;
  margin-top: 0px;
  padding-top: 100px;
}

.inside {
  overflow: auto;
  vertical-align: middle;
  margin-top: 0px;
  font-size: 15px;
  padding-left: 0px;
  padding: 0px;

}

.wave {
  float: left;

.wave img {
  vertical-align:middle;
}
}

.links {
  float: right;
  overflow: auto;
  vertical-align: middle;
  margin-top: 5px;
}

.naviglinks {
  padding-top: 1px;
  float: right;
  font-family: $font2;
}


header h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  margin-top: 100px;
  font-family: $font1;
  margin-bottom: 2px;
}

header p {
  text-align: center;
  font-size: 1.1em;
}

li{
  list-style: none;
}


/* Body of Page */

article {
  float: left;
  width: 1300px;
  height: 1010px;
  clear: both;
}


blockquote {
  font-size: 2em;
  color: $lblue;
}

.post {
  width: 860px;
  height: 1010px;
  float: left;
}

.post h1 {
  height: 132px;
  font-size: 3.2em;
  font-family: $font2;
  float: right;
  display: block;
  margin-right: 106px;
  margin-left: 160px;
  margin-top: 32px;
  margin-bottom: 10px;
  line-height: 65px;
  padding-top: 32px;
  color: $dblue;
}

aside {
  float: right;
  width: 35%;
  margin-top: 10px;
}


.site-author {
  margin-bottom: 40px;
  font-size: .8em;
}

.site-author li {
  display: inline-block;
  vertical-align: middle;
}

.site-author img {
  width: 24px;
  vertical-align: middle;
}

.authorname {
  color: $lblue;
  margin-left: 4px;
}

.post-date {
  color: $links;
  margin-left: 8px;
}

.post-date a {
   color: HSLA(205, 18%, 68%, 1);
}

.post-options {
  margin-top: 15px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  font-size: .8em;
}

.post-options li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-color: $dblue;
}

.post-options img {
  vertical-align: middle;
  padding: 7px 5px 7px 8px;
  height: 2.06em;
}

.post-options span {
  background-color: lblue;
  color: white;
  vertical-align: middle;
  line-height: 28px;
  padding: 6px 17px 6px 12px;
}

.post-options li:hover {
  background-color: HSLA(204, 83%, 14%, 1);
}

.post-options li:hover span {
  background-color: HSLA(209, 100%, 33%, 1);
}

.author {
  text-align: center;
}

.author h3 {
  color: $lblue;
  text-transform: uppercase;
}

.social-media li {
  display: inline-block;
  color: $links;
  font-size: .8em;
  padding: 0 4px;
}

.ad {
  margin-top: 50px;
}

.ad img {
  width: 100%;
}

.ad a {
  color: $links;
  font-size: .8em;
  float: right;
}

.sidearticle {
  clear: both;
  margin-top: 60px;
}

.sidearticle h3 {
  color: $lblue;
  text-transform: uppercase;
  font-family: $font1;
  font-size: 1.2em;
}

.sidearticle p {
  color: $links;
  font-size: .8em;
}



/* Most Popular Posts */

section {
  width: 1300px;
  clear: both;
  border-top: $links solid 1px;
  padding-top: 50px;
  margin-top: 20px;
  overflow: hidden;

section h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 58px;}

}

section li {
  display: inline-block;
  float: left;
  height: 330px;
  width: 25%;
}

section div {
  background-color: HSLA(209, 100%, 33%, .6);
  width: 100%;
  height: 100%;

  section div:hover {
    opacity: 1;
  }
  section div:hover a {
    color: white;
  }
}

section a {
  color: $dblue;
  font-family: $font1;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
  position: absolute;
}


.article1 {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-1.jpg");
}

.article2 {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-2.jpg");
}

.article3 {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-3.jpg");
}

.article4 {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-4.jpg");
}


/* Footer */

.footer {
  width: 1300px;
  margin-top: 0px;
  background-color: $dblue;
  float: left;
  display: block;


.leftfoot {
  float: left;
  width: 370px;
  height: 55px;
  margin-top: 25px;
  margin-left: 165px;
  font-family: $font2;
  font-size: 13px;
  color: $links;
}

.rightfoot {
  float: right;
  display: block;
  color: $links;
  font-family: $links;
  font-size: 15px;
  padding: 0px;
  margin-top: 30px;
  margin-right: 130px;
}

.bottomnav li {
  list-style: none;
  padding: 4px;
  margin: 4px;
  float: left;
  border-right-style: solid;
}
}
